{% extends "base.html" %}
{% block content %} 
<br>
<div class="container">
    {% for message in get_flashed_messages() %}
      <div class="alert alert-success alert-dismissible fade show "role="alert">{{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    <div class="pb-5 row align-items-center">
        <div class="col-12 mx-auto">
            <div class="card shadow border">
                <div class="card-header"><strong>Change Password</strong></div>
                <div class="card-body  flex-column align-items-center">
                    
                    <form method="POST" class="form-group">
                        {{ form.hidden_tag() }}
                        
                        <div class="mb-3">
                            {{ form.password.label(for=password) }}   
                            {{ form.password(class="form-control ", id="password", placeholder="Enter your current password")}}  
                        </div> 
                        <div class="mb-3"> 
                            {{ form.new_password.label(for=new_password) }}   
                            {{ form.new_password(class="form-control ", id="new_password", placeholder="Create new password")}}  
                        </div>  
                        <div class="mb-3">
                            {{ form.confirm.label(for="confirm") }}   
                            {{ form.confirm(class="form-control", id="confirm", placeholder="Re-type your new password")}}   
                        </div>  
                        <div class="mb-2">
                            {{ form.submit(class="btn btn-primary") }}
                            <a href="{{url_for('profile')}}" class="btn btn-secondary">Back</a>

                        </div> 
                    
                      </form>  
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}